---
layout: default
---

<div class="posts post-list-body">
    {% for post in site.posts %}
        <article class="post" data-category="{{post.category}}">
	      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	      <div class="entry">
	        {{ post.excerpt }}
	      </div>
	      <div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
	      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	    </article>
	{% endfor %}
</div>
<!-- <div class="posts post-list-body">
  {% for category in site.categories %}
    {% for post in category.last  %}
        <article class="post" data-categoy="{{category | first}}">
	      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	      <div class="entry">
	        {{ post.excerpt }}
	      </div>
	      <div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
	      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	    </article>
    {% endfor %}
{% endfor %}
</div> -->
