<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.category }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{"/static/js/index.js" | prepend:site.baseurl}}"></script>
    {% include analytics.html %}
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}’s blog</a></h1>
            <p class="site-description">{{ site.description }}</p>
            <div style="position: absolute; top: 50px; left: 278px;">{% include svg-icons.html %}</div>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="https://github.com/{{ site.footer-links.github }}" target="_blank">github</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {% include sidebar.html %}
      <div class="article-panel">
        {{ content }}
      </div>
    </div>
  </body>
</html>
